/**
 * CSS Reset
 * 标准CSS重置样式，消除浏览器默认样式差异
 * @version 1.0.0
 * @date 2026-02-25
 */

/* 全局重置 */
* {
    /* 外边距：0，消除所有元素的默认外边距 */
    margin: 0;
    /* 内边距：0，消除所有元素的默认内边距 */
    padding: 0;
    /* 盒模型：border-box，确保元素的宽度和高度包括边框和内边距 */
    box-sizing: border-box;
    /* 适用页面：所有页面，作为基础重置样式 */
}